@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
*{
    margin: 0;
    padding: 0;
}

.container{
    background-image: url(https://lh3.googleusercontent.com/xR6P-txE5sesfFfLKqkGO_LFT8tIXUuHf5zdbwUupjJP-h9BcAXWmhwnfDKkJiECUMW13T7CCkZV0gLng0K26psk-x_CfxEdnFFbpWlXFro9KF8GuvjXcA9lw69d5BtiAKPrXu7ks4CFTGfPnfVwwmyP_G0NB4vxrZ24MJ6jACdHvnD6P1Hnk1S-hJh2xO9Ql-zJpMyTipU_COy59xFEd1mZBnqmwdru6RVT-J5lbzKZQDgtVesgEuuTyg_1i0TQWmP6BUhpaDYn5mne-d39Un32rPxdM1saPFD8ahxaGE7jAjddFjiHOVEu8vjpM4QhjGTN-Pg9G9MHWiADQLO-vpiaSUTlXSUcRnw4PwGtfoRVWkvU4LB3Z9btJfGTmoBj2XCM4S_q-QKR9kO-TSOY-GSQ6uT3QcqGstuc30JG1YfGcmTjRcC4Oth7qs-8WjbrPxLBxHfhJoAhk5URHxLbGos9fp4O-r-cpB8SFJNpE6tYeZUpFgvJ4ba_o20-l86YMTWRKTbyUHy6EJlscNPzuxG3hLkYCm1zNE5VqjOC4PWcOCeYg9YIp38tlyANwXN_Hnidw_85hGs2Y5M_opuLBmW3pioNIWLOz4ymwEshC2F0LX-zCSXfYZbVCjdzRNwoFM1Izep688MnSfKgI0ZtGn4CVbP3BDrCUT7vEFxq4udAceVDTsJ9T-hMXqovPZ8McKPubvwH4ZLpQ0la8Rebm8iNM1SERSrNaCQWP3qFfBOFbGfVq4f8FTzycGg=w1509-h943-no?authuser=0); 
    background-position: center; 
    background-size: cover; 
    background-attachment: fixed; 
    height: 100vh;
}

.navbar{
    width: 100%;
    height: 80px;
    background-color: transparent;
}

.logo{
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
}

.logo a{
    text-decoration: none;
    font-size: 30px;
    padding: 7px;
    font-family: 'Libre Bodoni', cursive;
    letter-spacing: 1px;
    color: white;
    border-style: inset;
    border-radius: 30px;
}

.navbar ul{
    float: right;
    margin-right: 20px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 6px 13px;
    font-family: 'Lora', cursive;
}

.navbar ul li a:hover{
    background: white;
    color: #080db3;
    border-radius: 15px;
}

.container .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    color: white;
    font-family: 'Libre Bodoni', cursive;
    letter-spacing: 2px;
}

.hakkimda{
    margin-bottom: 150px;
}

.hakkimda-title{
    margin: 0;
}

.hakkimda-title h2{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.hakkimda-title h2::after{
    content: "";
    width: 50px;
    height: 3px;
    background-color: white;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}

.hakkimda-icerik{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hakkimda-img{
    width: 40%;
    margin-top: 40px;
}

.hakkimda-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.hakkimda-metin{
    width: 35%;
}

h5{
    margin-top: 50px;
    text-align: center;
    font-size: 60px;
    color: white;
    font-family: 'Libre Bodoni', cursive;
    letter-spacing: 1px;
    font-weight: 100;
}

.hakkimda-metin p{
    font-size: 15px;
    text-align: center;
    color: white;
}

.portfolio{
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item{
    width: 25%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.portfolio-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: #080db3;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0.8;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.portfolio-item:hover .overlay{
top: 0;
}

footer{
    background-color: #080db3;
}

.social
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 0;
}

.social a i{
    color: white;
}

.social li
{
    margin: 0 10px;
}

.social a{
    text-decoration: none;
    padding: 5px;
    border-radius: 50%;
}

.social a:hover i{
    color: rgb(118, 116, 116);
}