@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: #aaadff;
    background-position: center; 
    background-size: 100% 100%; 
    background-attachment: fixed; 
    height: 100vh;
}

.navbar{
    width: 100%;
    height: 85px;
    background-color: #080db3;
}
.logo{
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
}
.logo a{
    text-decoration: none;
    font-size: 30px;
    padding: 7px;
    font-family: 'Libre Bodoni', cursive;
    letter-spacing: 1px;
    color: white;
    border-style: inset;
    border-radius: 30px;
}

.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 6px 13px;
    font-family: 'Lora', cursive;
}
.navbar ul li a:hover{
    background: white;
    color: #080db3;
    border-radius: 15px;
}

.header h2{
    text-align: center;
    font-size: 45px;
    color: black;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
}

main{
    background-color: #aaadff;
}

.sehir {
    width: 40%;
    padding-left: 10px;
    margin-right: 10px;
    float: right;
}

.resim{
    float: inline-end;
}

.resim img{
    width: 600px;
    height: 400px;
}

.tarihi{
    margin-bottom: 10px;
}

.tarihi h3{
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 10px;

}

.tarihi p{
    font-size: 17px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.iklimi{
    margin-bottom: 10px;
}

.iklimi h3{
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 10px;

}

.iklimi p{
    font-size: 17px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.nufusu{
    margin-bottom: 10px;
}

.nufusu h3{
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 10px;

}

.nufusu p{
    font-size: 17px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.dil-din{
    margin-bottom: 10px;
}

.dil-din h3{
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 10px;

}

.dil-din p{
    font-size: 17px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.ekonomisi{
    margin-bottom: 10px;
}

.ekonomisi h3{
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 10px;

}

.ekonomisi p{
    font-size: 17px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.ulasim{
    margin-bottom: 10px;
}

.ulasim h3{
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 10px;

}

.ulasim p{
    font-size: 17px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.metro {
    width: 40%;
    padding-right: 10px;
    margin-left: 10px;
    float: left;
}

.resim-metro{
    float: inline-end;
}

.resim-metro img{
    width: 600px;
    height: 350px;
}

.tramvay {
    width: 40%;
    padding-left: 10px;
    margin-right: 10px;
    float: right;
}

.resim-tramvay{
    float: inline-end;
}

.resim-tramvay img{
    width: 600px;
    height: 400px;
}

.havaalani {
    width: 40%;
    padding-right: 10px;
    margin-left: 10px;
    float: left;
}

.resim-havaalani{
    float: inline-end;
}

.resim-havaalani img{
    width: 600px;
    height: 350px;
}

.kultur-eglence{
    margin-bottom: 10px;
}

.kultur-eglence h3{
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.kultur-eglence p{
    font-size: 17px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.tiyatro {
    width: 40%;
    padding-left: 10px;
    margin-right: 10px;
    float: right;
}

.resim-tiyatro{
    float: inline-end;
}

.resim-tiyatro img{
    width: 600px;
    height: 400px;
}

.footer h2{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0;
}

.footer h2::after{
    content: "";
    width: 40px;
    height: 2px;
    background-color: white;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}

.footer{
    background-color: #080db3;
}

.footer-aforizma{
    color: white;
    text-align: center;
    flex-basis: 55%;
    line-height: 2;
    font-size: 13px;
    margin-bottom: 0;
}